.popup {
  position: absolute;
  width: 55vw;
  height: 82vh;
  left: calc((100% - 55vw) / 2);
  top: 4vh;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  transform: scale(0.5);
  opacity: 0;
  transition: all 400ms;
  z-index: -99;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
}

.popup::-webkit-scrollbar {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 4vh;
  border-bottom: 2px solid lightgray;
}

.header > span {
  font-size: 1.5em;
  font-weight: bold;
  margin: auto;
}

.close {
  position: relative;
  width: 4vh;
  height: 4vh;
}

.close:hover {
  background-color: red;
  border-radius: 0 10px 0 0;
  cursor: pointer;
}

.close > img {
  transform: scale(0.9);
  transition: all 200ms;
}

.close:hover > img {
  transform: scale(1);
  filter: invert(100%);
}

.content {
  flex-grow: 1;
  display: flex;
}

.gallery {
  position: relative;
  flex: 1;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.gallery > img {
  transition: transform 1s;
}

.desc {
  flex: 1;
  margin: 10px;
  padding: 0 15px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  max-height: calc(78vh - 25px);
  overflow: auto;
}

.desc h2 {
  margin: 0.5em 0;
}

.desc p {
  margin: 0.5em 0;
  text-indent: 2em;
  word-break: keep-all;
}
