@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: black;
  color: white;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Bazier Square,
    Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto, Helvetica Neue, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  pointer-events: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.welcome {
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 510px;
  height: 212px;
  padding: 0 20px;
  box-shadow: -8px 0 0 0 #32ff32, 8px 0 0 0 #32ff32, 0 -8px 0 0 #32ff32,
    0 8px 0 0 #32ff32;
  color: #32ff32;
  transform: translateX(-50%) scale(0);
  transition: all 250ms;
}

.welcome:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
  content: '';
}

.welcome:after {
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  top: 0px;
  left: -4px;
  box-shadow: -4px 0 0 0 #32ff32, 4px 0 0 0 #32ff32, 0 -4px 0 0 #32ff32,
    0 4px 0 0 #32ff32;
  content: '';
}

.welcome > * {
  margin: 16px 0;
}

.prevent-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.disable-y-scroll {
  overflow-y: hidden;
}

.typing-cursor {
  position: relative;
}
.typing-cursor:after {
  position: absolute;
  content: '|';
}
.waiting-cursor {
  position: relative;
}
.waiting-cursor:after {
  position: absolute;
  content: '|';
  animation: cursor 1s infinite step-start;
}
@keyframes cursor {
  50% {
    opacity: 0;
  }
}

.colorful-text {
  color: #b9e8e8;
  text-shadow: none;
  background-image: linear-gradient(92deg, #b9e8e8, #b4dbf6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 4s infinite linear;
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.observeL2R {
  transition: all 750ms;
}
.observeR2L {
  transition: all 750ms;
}
