.contactWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
}

.contentWrapper {
  box-sizing: border-box;
  margin: 0 auto 10vh auto;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: max(16px, 1vw);
  margin-bottom: max(20px, 1.25vw);
  transform-origin: center left;
  transition: all 200ms;
}

.content:hover {
  transform: scale(1.05);
}

.content > a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  font-size: max(48px, 3vw);
  font-weight: bold;
}

.icon {
  display: inline-block;
  position: relative;
  width: max(32px, 2vw);
  height: max(32px, 2vw);
}

.desc {
  font-size: max(24px, 1.5vw);
  margin: 0;
}

.desc:nth-child(2) {
  font-weight: bold;
  width: max(104px, 6.5vw);
}

.background {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, black, #03217f 80%);
  z-index: -1;
}

.background > img {
  object-position: center bottom;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 5vh;
}
